.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  display: flex;
  justify-content: center;
}

.chatInput__wrapper {
  width: 400px;
  position: absolute;
  /* top: 0; */
  left: 270px;
}

.chatInput__wrapper > input {
  position: fixed;
  bottom: 10px !important;
  width: 80%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
  /* left: 0px;
  
  
  
   */
  /* transform: translate(40%, 0%); */
}

.chatInput > form > button {
  display: none !important;
}
